body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.tittleH {
    text-align: center;
}

.sentence {
    text-align: center;
    
}

.button {
    text-align: center;

    background-color: gray;
    border: 1px solid black;

    font-size: small;

    width: 100px;
    margin: auto;
}
